<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="background">
        <div id="page">
            <div id="header">
                <div id="logo">

                    <a href="@Url.Action("Index", "Home")">
                        <img alt="LOGO" src="../content/images/logo.png" />
                    </a>
                </div>
                <div id="navigation">
                    <ul id="primary">
                        <li class="selected">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            <a href="new.html">New Arrivals</a>
                        </li>
                        <li>
                            <a href="mens.html">Mens</a>
                        </li>
                        <li>
                            <a href="womens.html">Womens</a>
                        </li>
                        <li>
                            <a href="faq.html">Faq</a>
                        </li>
                        <li class="highlight">
                            <a href="sale.html">Sale Items</a>
                        </li>
                    </ul>
                    <ul id="secondary">
                        <li>
                            @Html.ActionLink("Cart", "Index", "Cart")
                        </li>
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
            <div id="contents">
                @RenderBody()
            </div>
            <div id="footer">
                <div class="background">
                    <div id="connect">
                        <h5>Get Social With us!</h5>
                        <ul>
                            <li>
                                <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
                            </li>
                            <li>
                                <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
                            </li>
                            <li>
                                <a href="http://www.freewebsitetemplates.com/go/googleplus/" target="_blank" class="linkin"></a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navigation">
                        <li>
                            <h5>Mens</h5>
                            <a href="mens.html">Sneakers</a> <a href="mens.html">Boots</a> <a href="mens.html">Winter socks</a> <a href="mens.html">Lace-ups</a>
                        </li>
                        <li>
                            <h5>Womens</h5>
                            <a href="womens.html">Sneakers</a> <a href="womens.html">Boots</a> <a href="womens.html">Winter socks</a> <a href="womens.html">Lace-ups</a>
                        </li>
                        <li class="latest">
                            <h5>New Arrivals</h5>
                            <a href="new.html">Cheverlyn Zespax</a> <a href="new.html">Alta Ulterior</a> <a href="new.html">Mikee</a> <a href="new.html">Jeeroks Copy</a>
                        </li>
                        <li class="latest">
                            <h5>On Sale Items</h5>
                            <a href="sale.html">Cheverlyn Zespax</a> <a href="sale.html">Alta Ulterior</a> <a href="sale.html">Mikee</a> <a href="sale.html">Jeeroks Copy</a>
                        </li>
                    </ul>
                    <p class="footnote">
                        &copy; Copyirght &copy; 2011. <a href="index.html">Company name</a> all rights reserved.
                    </p>
                </div>
            </div>
        </div>


    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Utils")
    @RenderSection("scripts", required: false)
</body>
</html>
